<component name="ArtifactManager">
  <artifact type="war" name="springbootStudy:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="com.lizhi.springboot.war">
      <element id="artifact" artifact-name="springbootStudy:war exploded" />
    </root>
  </artifact>
</component>